{% extends 'base.html' %}
{% block content %}
<h2>Login</h2>

<form method="POST" novalidate>
    {{ form.hidden_tag() }}

    {{ form.username.label }}<br>
    {{ form.username(size=32) }}<br>

    {{ form.password.label }}<br>
    {{ form.password(size=32) }}<br>

    {% if require_captcha %}
    <div>
        <img src="{{ url_for('main.captcha_image') }}" alt="CAPTCHA Image" />
        <div>
        <label for="captcha">Captcha:</label>
        <input type="text" name="captcha" id="captcha" required>
    </div>
  </div>

    {% endif %}


    {{ form.submit() }}
</form>

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<p style="color:red;">{{ message }}</p>
{% endfor %}
{% endwith %}
{% endblock %}